<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Skill Set</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="emp in gridList | filter:name">

        <td>{{ emp.name | uppercase }}</td>
        <td>{{ emp.class }}</td>
        <td>{{ emp.address }}</td>
        <td>
            <button class="btn" ng-click="editUser(emp.name)">
                <span class="glyphicon glyphicon-pencil"></span>  Edit
            </button>
        </td>
    </tr>
    </tbody>
</table>